/*
    ÍNDICE: 
        - Etiquetas/Elementos generales______________________ gen_00
            - Tipografía.................. gen_tipo
            - Propiedades generales....... gen_prop
            - Headings y textos........... gen_head
            - Botones..................... gen_btn
            - Iconos...................... gen_icon
            - Tablas...................... gen_tablas
            - Filtros..................... gen_filtros
            - Formularios................. gen_form
            - Contenedores................ gen_cont
            - Modales..................... gen_mod

            - Body........................ gen_body
            - Aside....................... gen_aside
            - Header...................... gen_header
            - Main........................ gen_main
*/

/* ETIQUETAS GENERALES________________________________________________gen_00 */
/* Tipografía.......................................gen_tipo */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Propiedades generales............................gen_prop */
:root {
    /* Colores.........................*/
    --primary-color: #EE2F7F; /* fondos, textos, iconos... */
    --secondary-color: #F8EBF0; /* solo usar para fondos */
    
    /* Escala de grises */
    --accent-01: #DCDCDC; /* fondo cajas, barras scroll, líneas horizontales...*/
    --accent-02: #ECECEC; /* Fondo de botones */
    --accent-03: #F9FAFB; /* Fondo de página */
    --accent-04: #F9F9FA; /* Fondo de etiquetas y marcador de sección menú */
    --aside-back: white;
    --light-color: white; 

    /* Textos...........................*/
    --font: 'Inter', sans-serif;
    --text-dark-color: #0f0c09;
    --text-light-color: #ABABAB;

    /* Tamaños...........................*/
    --head-h1: 22px; 
    --head-h2: 20px; 
    --head-h3: 18px; 
    --head-h4: 16px; 
    --size-p: 14px;
    --head-h5: 12px;
    --size-span: ; 
    --line-height: ;
}

* {
    color: var(--text-dark-color);
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.row > .custom_gutter {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}

/* Bootstrap....................*/
.bg-primary {
    background-color: transparent !important;
    border: solid thin gray;
}

/* Headings y textos............................gen_head */
h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 300;
    font-size: var(--head-h1);
}

h2 {
    font-size: var(--head-h2);
}

h3 {
    font-weight: 400;
    font-size: var(--head-h3);
}

h4 {
    font-weight: 400;
    font-size: var(--head-h4); 
}

h5 {
    font-weight: 400;
    font-size: var(--head-h5);
}

p, a {
    font-size: var(--size-p);
}

a {
    color: var(--text-dark-color); 
    text-decoration: none;
}

/* Botones...................................... gen_btn */ 
.btn {  
    font-size: var(--size-p);  
    border-radius: 4px;
    width: fit-content; 
}  

.btn:hover {
    transform: translateY(-1px);
}

/* Botón principal. Fondo color principal */
/* <button type="button" class="btn btn_custom_1">Ver pedido</button> */
.btn_custom_1, .btn_custom_1:hover {
    color: white;
    border: solid thin var(--primary-color);
    background-color: var(--primary-color);
}

/* Botón secundario. Fondo color secundario */
/* <button type="button" class="btn btn_custom_2">Ver pedido</button> */
.btn_custom_2, .btn_custom_2:hover {
    color: var(--primary-color);
    font-weight: 500;
    border: solid thin var(--secondary-color);
    background-color: var(--secondary-color);
}

/* Botón extra. Escala de grises. Usos: "Limpiar formulario" */
/* <button type="button" class="btn btn_custom_3">Limpiar</button> */
.btn_custom_3, .btn_custom_3:hover {
    color: var(--text-dark-color);
    border: solid thin var(--accent-02);
    background-color: var(--accent-02);
}

/* Iconos........................................ gen_icon */ 
i:hover {
    cursor: pointer;
    color:#ee2f7f;
}

.bi-search {
    color: var(--accent-01);
}

/* chevron del sidebar */
.nav_container i.bi-chevron-right {
    font-size: 10px;
}   

.nav_container .bx {
    color: rgb(167, 167, 167);
}

/* Tablas........................................ gen_tablas */
table {
    border: none;
    box-shadow: 0 2px 6px 0 rgba(138, 138, 138, 0.055);
    color: var(--text-dark-color);
}

table img {
    padding-right: 10px;
}

th {
    font-size: var(--head-h5);
    color: var(--text-light-color) !important;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

td {
    font-size: var(--size-p);
}

td:first-child, th:first-child {
    padding-left: 15px; 
  }

td:last-child {
    padding-right: 20px;
    text-align: right; 
}

td:hover {
    cursor: pointer;
}

/* Filtros....................................... gen_filtros */
.contenedorFiltros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedorFiltroLabel {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.contenedorFiltroLabelySelect {
    width: fit-content; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.contenedorFiltroLeft {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.filtroBuscador {
    display: inline;
    width: 100%;
}

.selectFiltros {
    font-size: var(--size-p);
    display: inline;
    width: fit-content;
}

.contenedorFiltroRight {
    width: fit-content; 
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

/* Formularios................................... gen_forms */
.form-label {
    font-size: var(--head-h5);
    color: var(--text-light-color) !important;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.container_login {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.login-form {
    width: fit-content;
}

input[type="number"] {
    display: inline;
    width: 80px;
}  

.form-control {
    font-size: 14px;
}

textarea::placeholder {
    color: var(--text-light-color);
    font-size: 14px;
}

.searchbar.input-group-text {
    padding-right: 0;
}

.searchbar.form-control {
    border-left: none;
}

.searchbar {
    background-color: white;
    border-radius: 30px;
}

.form_buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 15px;
}

.form-control:focus {
    border-color: #ced4da; 
    box-shadow: none;
}

/* Contenedores.................................. gen_cont */
.card {
    border: none;
    box-shadow: 0 2px 6px 0 rgba(138, 138, 138, 0.055);
}

.card_margin {
    width: 93%;
}

.label_effect { /* contenedor con hover */
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 15px;
    padding: 10px 20px !important;
}

.label_effect:hover {
    cursor: pointer;
    box-shadow: 0 2px 6px 0 rgba(138, 138, 138, 0.151);
}   

.label_effect img {
    width: 35px;
}

.label_empty { /* contenedor sin elementos dentro */
    border: dashed thin rgb(179, 179, 179);
    background-color: transparent; 
}

/* Body............................................ gen_body */
html {
    height: 100vh;
}

body {
    font-family: var(--font);
    height: 100vh;
    margin: 0; 
    background-color: var(--accent-03);  
}

* {
    box-sizing: border-box;
}

/* Aside........................................... gen_aside */
.col-auto {
    padding: 0; 
}

.sidebar {
    width: 240px;
    height: 100vh;
    overflow-y: scroll;
    margin: 0;
    border-right: solid thin rgb(238, 238, 238);
    background-color: var(--aside-back);
}

.sidebar_top {
    position: fixed;
    padding: 20px 15px 15px 25px;
}

.sidebar_bottom {
    padding: 40px 15px 15px 15px;
    padding-top: 60px;
}

.sidebar_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0; 
}

.sidebar ul {
    list-style: none;
    padding: 0; 
    margin: 0; 
}

.dropdown_toggle {
    width: 100%;
    text-decoration: none;
    color: var(--text-dark-color);
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.nav_container {
    padding: 10px;
    border-radius: 4px;
}

.nav_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_container:hover {
    background-color: rgb(248, 248, 248);
}

.nav_container_left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 15px;
}

.collapse {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 5px;
}

.collapse li {
    margin-left: 40px;
}

.collapse li a:hover {
    font-weight: 500;
}

/* Header.......................................... gen_header */
.topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    width: 100%;
    border-bottom: solid thin rgb(221, 221, 221);
    background-color: var(--accent-03);
}

.topbar_container {
    width: 100%;
    padding: 0 35px 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topbar_left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.topbar_right {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.topbar_icons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.topbar_icons i {
    padding: 10px;
}

.topbar_profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.topbar_profile:hover {
    cursor: pointer;
}

.topbar_profile_info {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.topbar_profile_name {
    font-size: var(--size-p);
}

.topbar_profile_account {
    font-size: var(--head-h5);
}

.dropdown-menu {
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* Main............................................ gen_main */
.page_layout {
    background-color: var(--accent-03);  
}

.content_wrapper {
    max-height: 80vh; /* Establece la altura máxima como el 100% de la altura de la ventana menos 100px para otros elementos fijos */
    overflow-y: auto;
    padding-left: 40px;
    padding-right: 30px;
}
