/*
    ÍNDICE: 
        - Etiquetas/Elementos generales______________________ gen_00
            - Tipografía.................. gen_tipo
            - Propiedades generales....... gen_prop
            - Headings y textos........... gen_head
            - Botones..................... gen_btn
            - Iconos...................... gen_icon
            - Tablas...................... gen_tablas
            - Filtros..................... gen_filtros
            - Formularios................. gen_form
            - Contenedores................ gen_cont
            - Modales..................... gen_mod

            - Body........................ gen_body
            - Aside....................... gen_aside
            - Header...................... gen_header
            - Main........................ gen_main

        - Elementos individuales_____________________________ gen_01
            - Cesta....................... gen_cesta
*/

/* ETIQUETAS GENERALES________________________________________________gen_00 */
/* Tipografía.......................................gen_tipo */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Propiedades generales............................gen_prop */
:root {
    /* Colores.........................*/
    --primary-color: #EE2F7F; /* fondos, textos, iconos... */
    --secondary-color: #F8EBF0; /* solo usar para fondos */
    
    /* Escala de grises */
    --accent-01: #DCDCDC; /* fondo cajas, barras scroll, líneas horizontales...*/
    --accent-02: #ECECEC; /* Fondo de botones */
    --accent-03: #f7f7f7; /* Fondo de página */
    --accent-04: #F9F9FA; /* Fondo de etiquetas y marcador de sección menú */
    --aside-back: white;
    --light-color: white; 

    --danger-dark: #FF3E1D;
    --danger-light: #fff0ee;
    --warning-dark: #FFAC02;
    --warning-light: #FFF5E3;
    --success-dark: #60B400;
    --success-light: #F0FBE8;

    --darkMode-dark: #202020;
    --darkMode-medium: rgb(134, 134, 134);
    --darkMode-light: #313131;
    --darkMode-text: #707070;

    /* Textos...........................*/
    --font: 'Inter', sans-serif;
    --text-dark-color: #0f0c09;
    --text-light-color: #ABABAB;

    /* Tamaños...........................*/
    font-size: 16px; /* Tamaño de fuente base */

    --head-h1: 1.375rem; /* 22px / 16px = 1.375rem */
    --head-h2: 1.25rem; /* 20px / 16px = 1.25rem */
    --head-h3: 1.125rem; /* 18px / 16px = 1.125rem */
    --head-h4: 1rem; /* 16px / 16px = 1rem */
    --size-p: 0.875rem; /* 14px / 16px = 0.875rem */
    --head-h5: 0.75rem; /* 12px / 16px = 0.75rem */
    --size-span: ; 
    --line-height: ;
}

* {
    color: var(--text-dark-color);
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.row > .custom_gutter {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}

/* Bootstrap....................*/
.bg-primary {
    background-color: transparent !important;
    border: solid thin gray;
}

.dropdown-item:active {
    background-color: transparent; 
}

/* Headings y textos............................gen_head */
h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 300;
    font-size: var(--head-h1);
}

h2 {
    font-size: var(--head-h2);
}

h3 {
    font-weight: 400;
    font-size: var(--head-h3);
}

h4 {
    font-weight: 400;
    font-size: var(--head-h4); 
}

h5 {
    font-weight: 400;
    font-size: var(--head-h5);
}

p, a {
    font-size: var(--size-p);
}

a {
    color: var(--text-dark-color); 
    text-decoration: none;
}

/* Textos mensajes predefinidos Bootstrap */
.alert {
    font-weight: 500;
    font-size: var(--size-p);
}

.alert-danger {
    color: var(--danger-dark);
    border: solid thin var(--danger-dark); 
    background-color: var(--danger-light);
}

.alert-warning {
    color: var(--warning-dark);
    border: solid thin var(--warning-dark); 
    background-color: var(--danger-light);
}

.alert-success {
    color: var(--success-dark);
    border: solid thin var(--success-dark); 
    background-color: var(--success-light);
}

/* Botones...................................... gen_btn */ 
.btn {  
    font-size: var(--size-p);  
    border-radius: 4px;
    width: fit-content; 
}  

.btn:hover {
    transform: translateY(-1px);
}

.btn:active {
    background-color: var(--primary-color);
}

.btn:focus {
    border-color: var(--primary-color);
}

/* Botón principal. Fondo color principal */
/* <button type="button" class="btn btn_custom_1">Ver pedido</button> */
.btn_custom_1, .btn_custom_1:hover {
    color: white;
    border: solid thin var(--primary-color);
    background-color: var(--primary-color);
}

/* Botón secundario. Fondo color secundario */
/* <button type="button" class="btn btn_custom_2">Ver pedido</button> */
.btn_custom_2, .btn_custom_2:hover {
    color: var(--primary-color);
    font-weight: 500;
    border: solid thin var(--secondary-color);
    background-color: var(--secondary-color);
}

/* Botón extra. Escala de grises. Usos: "Limpiar formulario" */
/* <button type="button" class="btn btn_custom_3">Limpiar</button> */
.btn_custom_3, .btn_custom_3:hover {
    color: var(--text-dark-color);
    border: solid thin var(--accent-02);
    background-color: var(--accent-02);
}

/* Iconos........................................ gen_icon */ 
i:hover {
    cursor: pointer;
    color:#ee2f7f;
}

.bi-search {
    color: var(--accent-01);
}

.nav_container_left i {
    font-size: 20px;
}

/* chevron del sidebar */
.nav_container i.bi-chevron-right {
    font-size: 10px;
}   

.nav_container .bx {
    color: rgb(167, 167, 167);
}

/* Tablas........................................ gen_tablas */
table {
    border: none;
    box-shadow: 0 2px 6px 0 rgba(138, 138, 138, 0.055);
    color: var(--text-dark-color);
}

table img {
    padding-right: 10px;
}

th {
    font-size: var(--head-h5);
    color: var(--text-light-color) !important;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

td {
    font-size: var(--size-p);
}

td:first-child, th:first-child {
    padding-left: 15px; 
  }

td:last-child {
    padding-right: 20px;
    text-align: right; 
}

td:hover {
    cursor: pointer;
}

/* Filtros....................................... gen_filtros */
.contenedorFiltros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedorFiltroLabel {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.contenedorFiltroLabelySelect {
    width: fit-content; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.contenedorFiltroLeft {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.filtroBuscador {
    display: inline;
    width: 100%;
}

.selectFiltros {
    font-size: var(--size-p);
    display: inline;
    width: fit-content;
}

.contenedorFiltroRight {
    width: 45%; 
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

/* Formularios................................... gen_forms */
.form-label {
    font-size: var(--head-h5);
    color: var(--text-light-color) !important;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.container_login {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.login-form {
    width: fit-content;
}

input[type="number"] {
    display: inline;
    width: 70px;
}  

.form-control {
    font-size: 14px;
}

textarea::placeholder {
    color: var(--text-light-color);
    font-size: 14px;
}

.searchbar.input-group-text {
    padding-right: 5px;
}

.searchbar.form-control {
    border-left: none;
}

.searchbar {
    background-color: white;
    border-radius: 30px;
}

.form_buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 15px;
}

.form-control:focus {
    border-color: #ced4da; 
    box-shadow: none;
}

.form_contenedor_top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.form_contenedor_botones {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.pagForm_columnas {
    display: grid;
    grid-template-columns: 1fr 30%;
    gap: 30px;
}

.pagForm_columnaLeft {
    width: 100%;
}

.pagForm_columnaRight {
    width: 100%;
}

@media (max-width: 1200px) {
    .pagForm_columnas {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 992px) {
    .form_contenedor_top {
        grid-template-columns: 1fr;
    }
}

.form_contenedor_left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

/* Contenedores.................................. gen_cont */
.card {
    border: none;
    box-shadow: 0 2px 6px 0 rgba(138, 138, 138, 0.055);
}

.card_margin {
    width: 93%;
}

.label_effect { /* contenedor con hover */
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 15px;
    padding: 10px 20px !important;
}

.label_effect:hover {
    cursor: pointer;
    box-shadow: 0 2px 6px 0 rgba(138, 138, 138, 0.151);
}   

.label_effect img {
    width: 35px;
}

.label_empty { /* contenedor sin elementos dentro */
    border: dashed thin rgb(179, 179, 179);
    background-color: transparent; 
}

/* Body............................................ gen_body */
html {
    height: 100vh;
}

body {
    font-family: var(--font);
    height: 100vh;
    margin: 0; 
    background-color: var(--accent-03);  
}

* {
    box-sizing: border-box;
}

/* Aside........................................... gen_aside */
.col-auto {
    padding: 0; 
}

::-webkit-scrollbar {
    width: 5px;
    background-color: var(--accent-03);
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-01); 
    border-radius: 5px; 
}

.sidebar {
    width: 240px;
    height: 100vh;
    overflow-y: auto;
    margin: 0;
    border-right: solid thin rgb(238, 238, 238);
    background-color: var(--aside-back);
    transition: transform 0.5s ease-out, width 0.5s ease-out; /* Añadida transición para el ancho */
}

.sidebar-hidden {
    /* Ocultar la barra lateral hacia la izquierda y ajustar el ancho a cero */
    transform: translateX(-240px);
    width: 0;
}

.page_container {
    transition: margin-left 0.5s ease-out;
}

.content-sidebar-hidden {
    /* Ajustar el margen izquierdo del contenido principal cuando la barra lateral está oculta */
    margin-left: 0;
}

/* Estilos para dispositivos móviles */
/* Estilos para dispositivos móviles */
@media only screen and (max-width: 767px) {
    .sidebar {
        width: 40%; /* Tamaño ajustado */
        height: 80vh; /* Altura ajustada */
        position: fixed;
        top: 60px; /* Distancia desde la parte superior */
        left: 0;
        z-index: 1000;
        transform: translateX(-100%);
    }

    .sidebar-hidden {
        transform: translateX(0);
    }

    /* Estilos para elementos dentro de la barra lateral en dispositivos móviles */
    .sidebar_container,
    .nav_link,
    .nav_container_left i,
    .nav_container_left p {
        font-size: 10px; /* Ajusta el tamaño del texto */
    }

    .page_container {
        margin-left: 0;
    }

    .content-sidebar-hidden {
        margin-left: 0;
    }
}


.sidebar_top {
    height: 70px;
    width: 240px;
    position: fixed;
    padding: 20px 15px 15px 30px;
    border-right: solid thin rgb(238, 238, 238);
    background-color: white;
}

.logo_container img {
    width: 70%;
}

.sidebar_bottom {
    padding: 100px 10px 15px 20px;
}

.sidebar_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0; 
}

.sidebar ul {
    list-style: none;
    padding: 0; 
    margin: 0; 
}

.dropdown_toggle {
    width: 100%;
    text-decoration: none;
    color: var(--text-dark-color);
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.nav_container {
    padding: 10px;
    border-radius: 4px;
}

.nav_container.gray-bg {
    font-weight: 500;
    background-color: var(--accent-03);
}

.nav_container.gray-bg i {
    color: var(--primary-color);
}

.nav_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_container:hover {
    background-color: rgb(248, 248, 248);
}

.nav_container_left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 15px;
}

.collapse {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 10px;
    padding-top: 10px !important;
    padding-bottom: 20px !important;
}

.collapse li {
    margin-left: 45px;
}

.collapse li a:hover {
    font-weight: 500;
}

/* Header.......................................... gen_header */
.topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    width: 100%;
    border-bottom: solid thin rgb(221, 221, 221);
    background-color: var(--accent-03);
}

.topbar_container {
    width: 100%;
    height: 100%;
    padding: 0 35px 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topbar_container i {
    font-size: 18px;
}

.topbar_left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.topbar_right {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 30px;
}

.topbar_icons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 7px;
    padding-left: 20px;
}

.topbar_icons i {
    padding: 10px;
}

.dropdown_icon_margin {
    padding: 5px;
}

.dropdown-menu {
    border: solid thin var(--accent-02); 
} 

.admin_shortcuts_container {
    padding: 0;
    margin-left: -100px;
}

.titulo_shortcuts {
    padding: 15px 0 15px 20px;
    border-bottom: solid thin var(--accent-01);
}

.admin_shortcuts_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    padding: 20px 10px 10px 10px; 
}

.caja_shortcuts {
    position: relative; 
    width: 130px; /* Define la anchura deseada para las cajas */
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    border-radius: 6px;
    border: solid thin var(--accent-03);
}

.caja_shortcuts i {
    color: var(--primary-color);
    font-size: 20px;
}

.admin_shortcuts_grid .dropdown-item {
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 6px;
}

.icon_container {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile_container {
    height: 70px;
}

.profile_general, #dropdownMenuLink, .topbar_profile {
    height: 100%;
}

.topbar_profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.profile_icon {
    width: 40px;
    height: 40px;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 15px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}

.topbar_profile:hover {
    cursor: pointer;
}

.topbar_profile_info {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.topbar_profile_name {
    font-size: var(--size-p);
}

.topbar_profile_account {
    font-size: var(--head-h5);
}

.dropdown-menu {
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown_profile {
    margin-left: -33px;
}

/* Main............................................ gen_main */
.page_layout {
    background-color: var(--accent-03);  
}

.content_wrapper {
    max-height: 80vh; /* Establece la altura máxima como el 100% de la altura de la ventana menos 100px para otros elementos fijos */
    overflow-y: auto;
    padding-left: 40px;
    padding-right: 30px;
}

.dropdown_inline {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

/* Modo oscuro....................................*/
.darkMode .btn_custom_2 {
    background-color: rgb(78, 78, 78);
    color: var(--accent-02);
    border: none;
}

.darkMode .btn_custom_3 {
    background-color: rgb(39, 39, 39);
    color: var(--darkMode-medium);
    border: none;
}

.darkMode ::-webkit-scrollbar {
    background-color: rgb(41, 41, 41);
}

.darkMode ::-webkit-scrollbar-thumb {
    background-color: rgb(51, 51, 51);
}

.darkMode .sidebar {
    background-color: var(--darkMode-dark);
    color: var(--light-color); 
    border-right: solid thin var(--darkMode-light);
}

.darkMode .carritoLateral {
    background-color: var(--darkMode-light);
}

.darkMode .cart_top_container {
    border-bottom: solid thin var(--darkMode-medium);
}

.darkMode .nav_container:hover {
    background-color: var(--darkMode-light);
}

.darkMode .topbar {
    background-color: var(--darkMode-dark);
    color: var(--light-color); 
    border-bottom: solid thin var(--darkMode-light);
}

.darkMode .sidebar_top {
    background-color: var(--darkMode-dark);
    color: var(--light-color);
    border-right: solid thin var(--darkMode-light);
}

.darkMode .page_layout {
    background-color: var(--darkMode-dark);
    color: var(--light-color); 
}

.darkMode .nav_container.gray-bg {
    background-color: var(--darkMode-light);
    color: var(--light-color); 
}

.darkMode h1 {
    color: var(--accent-01); 
}

.darkMode h4 {
    color: var(--accent-01); 
}

.darkMode h5 {
    color: var(--accent-01); 
}

.darkMode p {
    color: var(--accent-01); 
}

.darkMode a {
    color: var(--darkMode-medium); 
}

.darkMode ::placeholder {
    color: var(--darkMode-medium); 
}

.darkMode i {
    color: var(--light-color); 
}

.darkMode .bi {
    color: var(--light-color); 
}

.darkMode .iconoEliminarProducto {
    color: var(--primary-color);
}

.darkMode .searchbar {
    background-color: var(--darkMode-light) !important;
    color: var(--light-color); 
    border: none;
}

.darkMode .dropdown-menu {
    background-color: var(--darkMode-light);
    border: solid thin var(--darkMode-dark);
}

.darkMode .dropdown-menu .dropdown-item:hover {
    background-color: rgb(63, 63, 63);
    border: none;
}

.darkMode .card {
    background-color: var(--darkMode-light);
}

.darkMode .caja_shortcuts {
    border: solid thin rgb(78, 78, 78);
}

.darkMode .titulo_shortcuts {
    border-bottom: solid thin rgb(78, 78, 78);
}

.darkMode .form-select {
    color: var(--accent-01);
    background-color: var(--darkMode-light);
    border: none;
}

.darkMode .form-control {
    background-color: var(--darkMode-dark);
    border: none;
    color: var(--accent-02);
}

.darkMode th {
    border-bottom: solid thin rgb(100, 100, 100); 
    background: var(--darkMode-light) !important;
}

.darkMode td {
    color: var(--accent-02);
    border-bottom: solid thin rgb(77, 77, 77); 
    background: rgb(56, 56, 56) !important;
}

.darkMode .contenedorCestaProdNombre::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(49, 49, 49, 0.726) 80%);
}

/* ETIQUETAS INDIVIDUALES________________________________________________gen_01 */
/* Cesta.......................................gen_cesta */
.carritoLateral {
    display: none;
    padding: 20px;
    height: calc(100vh - 70px);
    background-color: var(--light-color); 
}

.carrito_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart_top_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: solid thin var(--accent-03);
}

.numProdCesta {
    font-weight: 500;
}

.texto_topCart {
    font-size: var(--size-p);
}

.cerrarCarrito {
    padding: 5px;
    line-height: 0;
    font-size: var(--head-h1);
}

.cerrarCarrito:hover {
    border-radius: 4px;
    background-color: var(--secondary-color);
}

.cart_bottom_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    padding-top: 10px;
}

.cart_bottom_product {
    flex-grow: 1; 
    overflow-y: auto;
}

.cesta_item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.contenedorCestaItemTexto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contenedorCestaProdNombre {
    width: 130px;
    position: relative; 
}
  
.contenedorCestaProdNombre p {
    white-space: nowrap;
    overflow: hidden; 
    position: relative;
    text-overflow: ellipsis;
}
  
.contenedorCestaProdNombre::after {
    content: ''; 
    position: absolute; 
    bottom: 0;
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.726) 80%);
    pointer-events: none; 
}

.cestaItemUnidad {
    color: gray;
}

.iconoEliminarProducto {
    color: var(--primary-color);
}

.contenedorCestaItemLeft {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    gap: 10px;
}

.cart_bottom_buttons_container {
    width: 100%;
    position: sticky;
    bottom: 0; 
    padding: 30px 0 10px 0;
}

.cart_bottom_buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.cart_bottom_buttons .btn {
    width: 100%; 
}





/* Estilos para el pop up */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Blanco semi-transparente */
    z-index: 1000;
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    overflow-y: auto;
}

.popup-content {
    text-align: center;
}

.popup-content h2 {
    color: #555;
    margin-bottom: 20px;
}

.popup-content p {
    color: #555;
    margin-bottom: 15px;
}

.popup-content label {
    color: grey;
    display: block;
    margin-bottom: 5px;
}

.popup-content input[type="radio"] {
    margin-bottom: 15px;
}

.popup-content button {
    background-color: #ff0055;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px; /* Margen superior para separar el botón de los elementos anteriores */
}

/* Estilos específicos por identificador */
#popupNombre {
    font-weight: bold;
    margin-bottom: 10px; /* Margen inferior para separar el nombre de los elementos siguientes */
}

#popupCategoria img {
    width: 35px;
    margin-right: 10px;
}

#popupUnidades {
    font-style: italic;
    margin-bottom: 10px; /* Margen inferior para separar las unidades de los elementos siguientes */
}

#popupObservaciones {
    margin-bottom: 10px; /* Margen inferior para separar las observaciones de los elementos siguientes */
}


/* Estilos para pantallas más pequeñas (dispositivos móviles) */

